$main-color: hsl(36, 67%, 66%);
$header-bg: darken($main-color, 28%);
$main-font: 'Skranji', serif;

$main-font-size:26px;
$full-height: 100vh;
$header-height: 60px;

@mixin header-padding(){
  padding:15px 20px;
}
$content-height: calc($fullheight - #{$header-height});
@mixin box(){
  box-sizing: border-box;
}

$footer-height: $header-height;
$footer-bg: $header-bg;

$input-color:darken($main-color,50%);
$input-font-size: 20px;
@mixin row(){
  display: flex;
  flex-direction: row;
}
@mixin reset(){
  margin: 0;
  padding: 0;
}

@mixin fullheight(){
  height: 100vh;
}
html,body{
  @include fullheight;
}
body{
  @include reset;
  font-family:$main-font;
  font-size: $main-font-size;
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, rgb(255, 254, 251)),
        color-stop(0.51, rgb(221, 187, 142))
    );
}

header{
  height: $header-height;
  background-color:$header-bg;
  @include row;
  h1,h2,h3{
    @include reset;
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
    color: antiquewhite;
     @include header-padding;
  }
   
  .settings-button:focus{
    outline:none;
  }
  .settings-button.open{
    background-color:darken($main-color,30%);
    .stripe{
      background-color:darken($main-color,50%);
    }
  }
}
main{
  height: calc(100vh - (#{$header-height} * 2));
  overflow-x:hidden;
  overflow-y:auto;
}

#task-list{
  @include reset;
  list-style:none;
  li{
    font-size:22px;
    padding-left:15px;
    border-bottom: 1px solid rgb(184, 158, 29);
    color:darken($main-color,10%);
  }
  li[data-status="1"]{
    background-color:lighten($main-color,15%);
    text-decoration:line-through;
    color:darken($main-color,40%);
    button[data-function="status"]{
      opacity:0.2;
    }
  }
  li{
    .task-row{
      display:flex;
      justify-content:space-between;

      .buttons{
        width:150px;
        display:flex;
        opacity:0.65;
        button{
          width:55%;
          background-color:transparent;
          border:solid transparent;
          background-size:55%;
          background-repeat:no-repeat;
          background-position:center;
        }
        button[data-function="status"]{
          background-image:url('../images/check.png');
          background-size:155%;
          height:114%;
          width: 40%;
        }
        button[data-function="delete"]{
          background-image:url('../images/times.png');
          
        }
      }
    }
  }
}

footer{
  height: $footer-height;
  background-color:$footer-bg;
  #task-form{
    @include row;
    #task-input{
      padding:12px;
      font-size: $input-font-size;
      border:0.8px solid $input-color;
      flex:1;
    }
    #task-input:focus{
      outline-style: auto;
      outline-color: rgb(255, 86, 86);
    }
    #task-button{
      width: $header-height + 15;
      height:50px;
      font-size: $input-font-size * 0.75;
      background-color:rgb(243, 237, 220);
    }
  }
}
