$main-color: hsl(36, 67%, 66%);
$header-bg: darken($main-color, 28%);
$main-font: 'Skranji', serif;
$main-font-size:26px;
$full-height: 100vh;
$header-height: 60px;

@mixin header-padding(){
  padding:15px 20px;
}
$content-height: calc($fullheight - #{$header-height});
@mixin box(){
  box-sizing: border-box;
}

$footer-height: $header-height;
$footer-bg: $header-bg;

$input-color:darken($main-color,50%);
$input-font-size: 20px;
@mixin row(){
  display: flex;
  flex-direction: row;
}
@mixin reset(){
  margin: 0;
  padding: 0;
}

@mixin fullheight(){
  height: 100vh;
}
html,body{
  @include fullheight;
}
body{
  @include reset;
  font-family:$main-font;
  font-size: $main-font-size;
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, rgb(255, 254, 251)),
        color-stop(0.51, rgb(212, 179, 136))
    );
}

header{
  box-shadow: 0px 7px 12px rgb(126, 126, 126);
  height: $header-height;
  background-color:$header-bg;
  @include row;
  h1,h2,h3{
    @include reset;
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
    color: antiquewhite;
    text-shadow: 2px 2px 5px black;
     @include header-padding;
  }
   
  .settings-button:focus{
    outline:none;
  }
  .settings-button.open{
    background-color:darken($main-color,30%);
    .stripe{
      background-color:darken($main-color,50%);
    }
  }
}
main{
  height: calc(100vh - (#{$header-height} * 2));
  overflow-x:hidden;
  overflow-y:auto;
}

#task-list{
  @include reset;
  list-style:none;
  padding-top: 20px;
  li{
    font-size:20px;
    padding-left:13px;
    border-bottom: 1px solid rgb(184, 158, 29);
    color:darken($main-color,49%);   
    border: 5px solid rgb(228, 92, 92);
    border-radius: 25px;
  }
  li[data-status="1"]{
    border: 2px solid #73AD21;
    border-radius: 25px;
    background-color:lighten($main-color,15%);
    text-decoration:line-through;
    color:darken($main-color,20%);
    button[data-function="status"]{
      opacity:0.2;
    }
  }
  li{
    .task-row{
      display:flex;
      justify-content:space-between;
      
      .buttons{
        width:150px;
        display:flex;
        opacity:0.65;
        button{
         
          width:55%;
          background-color:transparent;
          border:solid transparent;
          background-size:45%;
          background-repeat:no-repeat;
          background-position:center;
        }
        button[data-function="status"]{
          background-image:url('../images/check.png');
          background-size:115%;
          height:14%;
          width: 40%;
          padding: 30px;
        }
        button[data-function="delete"]{
          background-image:url('../images/times.png');
          
        }
      }
    }
  }
}

footer{
  height: $footer-height;
  background-color:$footer-bg;
  #task-form{
    @include row;
    #task-input{
      padding:12px;
      font-size: $input-font-size;
      border:0.8px solid $input-color;
      border-radius: 7px;
      flex:1;
    }
    #task-input:focus{
     //outline-style: auto;
      outline-color: rgb(255, 117, 117);
      border-left:5px solid rgb(255, 131, 30);
      background:rgb(252, 240, 228);
    }
    #task-button{
      width: $header-height + 15;
      height:50px;
      font-size: $input-font-size * 0.75;
      background-color:#4CAF50; ;
      border-radius: 7px;
    }
  }
}
